@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body {
 
  font-family: 'Cairo', sans-serif;


}
html {
  scroll-behavior: smooth;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
img, a, p, h1, h2{
  user-select: none;
}